<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- header is replaced with the fragment header here -->
<div th:replace="fragrams/head :: head"/>
<body>
    <header>
        <!-- nav bar fragment is placed here -->
        <div th:replace="fragrams/nav :: nav"/>
    </header>

    <h1>Welcome to Tomoponi!</h1>
    <div>
        <p>Have you ever had a Neopets account or a Tamagotchi but you lost one or both?</p>
        <p>Do you miss taking care of a little virtual pet but are too lazy to look elsewhere?</p>
        <p>Welcome to Tomoponi! A site where you can take care of an adorable pony or other creature from an available assortment!</p>
    </div>

    <img src="https://derpicdn.net/img/view/2017/1/25/1347352.gif" alt="head pats">
    <p>(This is a fan site and all My Little Pony™ characters shown within are property of Hasbro, Inc.)</p>

    <!-- footer is replaced with the fragment footer here -->
    <div th:replace="fragrams/footer :: footer"/>
</body>
</html>