<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- head is replaced with the fragment head here -->
<div th:replace="fragrams/head :: head"/>
<body>
    <header>
        <!-- nav bar fragment is placed here -->
        <div th:replace="fragrams/nav :: nav"/>
    </header>

    <div class="container">
        <h1>Your Items</h1>
    </div>

    <div class="container d-flex flex-row justify-content-evenly">
        <div th:each="item, iterStat: ${Items}" class="card" style="width: 18rem;">
            <img th:src="@{${item.image}}" class="card-img-top" alt="one of your items" id="pet-image">
            <div class="card-body">
                <h5 class="card-title" id="pet-name" th:text="${item.name}">Pet name</h5>
                <p class="card-text" th:text="${item.description}"></p>
            </div>
            <div class="card-footer" >
                Amount owned: <span th:text="${UserItems[iterStat.index].qty}"></span>
            </div>
        </div>
    </div>


    <!-- footer is replaced with the fragment footer here -->
    <div th:replace="fragrams/footer :: footer"/>
</body>
</html>