<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- head is replaced with the fragment head here -->
<div th:replace="fragrams/head :: head"/>
<body>
    <header>
        <!-- nav bar fragment is placed here -->
        <div th:replace="fragrams/nav :: nav"/>
    </header>

    <div class="container">
        <h1>Your Pets</h1>
    </div>
    <div th:each="pet: ${listPets}">
        <div class="card" style="width: 18rem;">
            <img th:src="${pet.image}" class="card-img-top" alt="your dear pet" id="pet-image">
            <div class="card-body">
                <h5 class="card-title" id="pet-name" th:text="${pet.name}">Pet name</h5>
                <p class="card-text">Level</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Health</li>
                <li class="list-group-item">Hunger</li>
                <li class="list-group-item">Happiness</li>
            </ul>
        </div>
    </div>


    <!-- footer is replaced with the fragment footer here -->
    <div th:replace="fragrams/footer :: footer"/>
</body>
</html>