<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- head is replaced with the fragment head here -->
<div th:replace="fragrams/head :: head"/>
<body>
    <header>
        <!-- nav bar fragment is placed here -->
        <div th:replace="fragrams/nav :: nav"/>
    </header>

    <div class="container text-center">
        <h1>Registered Users</h1>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <th>User ID</th>
                <th>Email</th>
                <th>Username</th>
                <th>Coins</th>
            </thead>
            <tbody>
                <tr th:each="user: ${listUsers}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.coins}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- footer is replaced with the fragment footer here -->
    <div th:replace="fragrams/footer :: footer"/>
</body>
</html>